This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = '--------'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests
import pandas as pd
import numpy as np
import json

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
r_sample = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key='+API_KEY+'&start_date=2020-11-30&end_date=2020-12-01')

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
r_sample.json()

{'dataset': {'id': 10095370,
  'dataset_code': 'AFX_X',
  'database_code': 'FSE',
  'name': 'Carl Zeiss Meditec (AFX_X)',
  'description': 'Stock Prices for Carl Zeiss Meditec (2020-11-02) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704',
  'refreshed_at': '2020-12-01T14:48:09.907Z',
  'newest_available_date': '2020-12-01',
  'oldest_available_date': '2000-06-07',
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'frequency': 'daily',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '2020-11-30',
  'end_date': '2020-12-01',
  'data': [['2020-12-01',
    112.2,
    112.2,
    111.5,
    112.0,
    None,
    51.0,
    5703.0,
    None,
    None,
    None],
   ['2020-11-30',
    111.0,
    113.6,
    111.0,
    112.1,
    None,
    315.0,
    35111.5,
    None,
    None,
    None]],
  'collapse': None,
  'order': None,
  'database_id': 6129}}

In [5]:
data=r_sample.json()
df=pd.DataFrame(data['dataset']['data'])
df.columns=data['dataset']['column_names']
df

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2020-12-01,112.2,112.2,111.5,112.0,None,51.0,5703.0,None,None,None
1,2020-11-30,111.0,113.6,111.0,112.1,None,315.0,35111.5,None,None,None

Voilaaaa!!! But this is using dataframes

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [7]:
#1 Fetch data for year 2017

json_2017 = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key='+API_KEY+'&start_date=2017-01-01&end_date=2017-12-31')
#type(json_2017)
json_2017

In [9]:
#2 json to dict
data_dict = json.loads(json_2017.text)
data_dict['dataset']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [84]:
#3 Highest and lowest opening prices of 2017
open_prices=[]
for open in data_dict['dataset']['data']:
    if type(open[1])==float:
        open_prices.append(open[1])
print('Highest opening price of 2017='+str(max(open_prices)))
print('Lowest opening price of 2017='+str(min(open_prices)))

Highest opening price of 2017=53.11
Lowest opening price of 2017=34.0

In [130]:
#4 Largest change in any one day
diff=[]
for open in data_dict['dataset']['data']:
    if type(open[2])==float and type(open[3])==float:
        diff.append(np.abs(open[3]-open[2]))
                    

print('\n Largest change in one day in 2017 ='+str(max(diff)))

 Largest change in one day in 2017 =2.8100000000000023

In [135]:
#5. between 2 days closing prices highest
close_prices=[]
for open in data_dict['dataset']['data']:
    if type(open[4])==float:
        close_prices.append(np.abs(open[4]))
diff_close=np.diff(close_prices)
diff_close[0:5]

array([-0.16,  0.22, -0.5 ,  0.08, -0.13])

In [116]:
print('Biggest raise on next day ='+str(max(diff_close)))
print('Biggest loss on next day ='+str(min(diff_close)))

Biggest raise on next day =2.559999999999995
Biggest loss on next day =-1.7199999999999989

In [119]:
#6 traded_volume average
traded_vol=[]
for open in data_dict['dataset']['data']:
    if type(open[6])==float:
        traded_vol.append(np.abs(open[6]))
print('Average train volume = '+str(np.mean(traded_vol)))

Average train volume = 89124.33725490196

In [121]:
#7 Median of traving volume
print('Median train volume = '+str(np.median(traded_vol)))

Median train volume = 76286.0

In [122]:
#Dataframes
df=pd.DataFrame(data_dict['dataset']['data'])
df.columns=data_dict['dataset']['column_names']
df

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
250,2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None
251,2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
252,2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
253,2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
254,2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None

In [124]:
df['Open'].max()

53.11

In [125]:
df['Open'].min()

34.0

In [137]:
df['range']=np.abs(df['High']-df['Low'])

In [138]:
df['range'].max()

2.8100000000000023

In [139]:
df['Traded Volume'].mean()

89124.33725490196

In [140]:
df['Traded Volume'].median()

76286.0

Perfectoo